body{
    background-color: #FCF2B5;
}

h1{
    text-align: center;
    color: #5667B3;
    text-decoration: underline;
}
p{
    font-size: 20px;
    color: #1e4bac;
}
.parrafo__rojo{
    color: red;
}
footer{
    background-color: aqua;
}